.page_navigation {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.page_link {
  margin: 0 10px;
  padding: 5px 0;
  font-size: 30px;
}
.current_page {
  color: white;
  background-color: steelblue;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}
