.recruitment_container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: ivory;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.title {
  font-size: 20px;
  border-bottom: 3px solid #ccc;
}
.info_status {
  width: fit-content;
  margin: 5px 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: lightcoral;
  color: white;
}
.text {
  white-space: pre-line;
}
.tag {
  border-radius: 5px;
  background-color: steelblue;
  color: white;
  padding: 5px;
}
.item {
  margin-left: 10px;
  font-size: 15px;
}
.info_icon {
  width: 20px;
  height: 20px;
  margin: 20px 0 0 15px;
}

.recruitment_user {
  display: flex;
}
.delete_button {
  margin-left: auto;
  background-color: red;
  color: white;
  border: none;
  padding: 0 15px;
  border-radius: 5px;
  cursor: pointer;
}
.delete_button:hover {
  background-color: darkred;
}
