.account_container {
  width: 80%;
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.account_input {
  width: 95%;
  max-width: 600px;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid #ccc;
}
.account_textarea {
  width: 95%;
  height: 100px;
  max-width: 600px;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid #ccc;
}
.account_btn {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 15px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.account_btn_disabled {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  margin: 15px 0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0056b3;
}
.account_error {
  color: red;
  font-size: 14px;
  margin: 5px 0;
}
