.user_profile_container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}
.profile_item {
  display: flex;
}
.bio {
  margin: 10px;
  padding: 10px;
}
.recruitment_title {
  width: 80%;
  margin: 20px auto;
  border-bottom: 5px solid #ccc;
}
.recruitment_item {
  width: 80%;
  margin: 10px auto;
  padding: 15px;
  list-style-type: none;
  border: 1px solid #ccc;
  background-color: ivory;
}
.recruitment_item:hover {
  background-color: wheat;
}
.list_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 3px solid #ccc;
}
.list_tag {
  width: fit-content;
  border-radius: 5px;
  background-color: steelblue;
  color: white;
  padding: 5px;
}
