.username_container {
  width: 80%;
  margin: 0 auto;
  border: 3px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
.title {
  width: fit-content;
  border-bottom: 4px solid #ccc;
}
.attention {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
